* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 4rem 0;
  font-size: 1.6rem;
  width: 70%;
  margin: auto;
  text-align: center;
}

.pantry-item {
  margin: 2rem 0;
}

.pantry-item input:checked + label {
  text-decoration: line-through;
}
